.doc-card .card.my-2.bg-dark img {
    width: 100%;
    height: 212px;
}
.doc-card .card {
    box-shadow: 10px 10px 4px #47525d;
}

.doc-card p{
    text-decoration: none;
    color: #fff;
    margin-bottom: 0px;
    font-size: 1.2rem;
    text-decoration: none;
}